// Variables
$green: #19c363;
$gray: #F5F5F7;
$primary-color: #333;
$secondary-color: #666;
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

// Basic breakpoint variables
$desktop: 1024px;