
@import '@/styles/main.scss';

.app {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 90%;
  height: calc(100% - 60px);
  max-width: 1400px;
  display: flex;
  margin: 40px auto 20px;
  gap: 20px;
  @include desktop-down {
    flex-direction: column;
    width: 95%;
  }
}